<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <div class="tarefa">
                    <input type="radio" id="tarefa-1">
                <label for="tarefa-1">Completar curso</label>
                
                
                </div>
                
                <button>
                    <img src="/imagens/Combined Shape 2.png" alt="X">
                </button> 
            </form>
        </div>
        <div class="informacoes">
            <p>5 Tarefas ativas</p>
            <a href="">Limar Tarefas</a>
        </div>
    </section>

    <section class="botoes">
        <a href="">Todas</a>
        <a href="">Ativas</a>
        <a href="">Comletas</a>
    </section>
</main>