<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <div class="tarefa">
                    <input type="radio" id="tarefa-1">
                <label for="tarefa-1">Completar curso</label>
                </div>
                <button>
                    <img src="/imagens/Combined Shape 2.png" alt="X">
                </button> 
            </form>
        </div>
    </section>
</main>